<!DOCTYPE html>
<html>
<head>
    <title>Add a new student</title>
</head>
<body>
    <form action="/student-add" Method='POST'>
        <label>What is your first name?</label>
         <input type=text name="first_name">

        <label>What is your last name?</label>
             <input type=text name="last_name">
        
        <label>What is your github username?</label>
             <input type=text name="github">
        
        <input type="submit" value="add student">


    </form>

</body>
</html>